---
title: eiipii - persona
layout: persona
---
<!-- Featured -->
<section id="persona" class="persona-section">


    <div id="carousel-personas" class="carousel slide" data-ride="carousel" data-interval=false>
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-personas" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-personas" data-slide-to="1"></li>
            <li data-target="#carousel-personas" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <!-- 0. item -->
            <div class="item active">
                <div class="container persona content  ">
                   {% include /personas/pietrzykowski.html %}
                </div>
            </div>

            <!-- 1. item -->
            <div class="item ">
                <div class="container persona content ">
                    {% include /personas/matamoros-ochman.html %}
                </div>
            </div>

            <!-- 2. item -->
            <div class="item ">
                <div class="container persona content ">
                    {% include /personas/gora.html %}
                </div>
            </div>

            <!-- 3. item -->
            <div class="item ">
                <div class="container persona content ">
                    {% include /personas/sanjuan-szklarz.html %}
                </div>
            </div>

            <!-- 4. item -->
            <div class="item ">
                <div class="container persona content ">
                    {% include /personas/janiec.html %}
                </div>
            </div>

            <!-- 5. item -->
            <div class="item ">
                <div class="container persona content ">
                    {% include /personas/kurman.html %}
                </div>
            </div>

            <!-- 6. item -->
            <div class="item ">
                <div class="container persona content ">
                    {% include /personas/sanjuan-janiec.html %}
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-personas" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-personas" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</section>
