<div id="footer">
	<div class="container">
		<section>
			<header>
				<h2>Get in touch</h2>
				<span class="byline">contact us! & and so on</span>
			</header>
			<ul class="contact">
				<li><a href="https://twitter.com/eiipii_com" class="fa fa-twitter"><span>@eiipii_com</span></a></li>
				<!--<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>-->
				<!--<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>-->
				<!--<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>-->
				<li>Or send us an email: contact@eiipii.com</li>
			</ul>
		</section>
	</div>
</div>