<div id="nav-wrapper">
	<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">EiiPii</a></li>
			{% comment %}<!--<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>-->{% endcomment %}
			<li {% if current[1] == 'services.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/services.html">Services</a></li>
			<li {% if current[1] == 'services.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/team.html">Team</a></li>
			<li {% if current[1] == 'services.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/portfolio.html">Portfolio</a></li>
			<li {% if current[1] == 'services.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
			{% comment %}<!--<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar Template (for more info?)</a></li>-->
			<!--<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar Template (for more info?)</a></li>-->{% endcomment %}
		</ul>
	</nav>
</div>