<!-- portfolio content - right hand side, div class important -->
<div id="content" class="8u skel-cell-important">

    <section id="niezbednik">
               <header style="margin-bottom: 3em">
            <h2>(TODO)Niezbędnik Inteligenta</h2> <!--TODO section graphics-->
        </header>
        <p>Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.</p>
        <p>We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.</p>
        <p><b>Technologies:</b> Scala, Akka (Actors, Streams, Http), Cassandra, Spark, Ansible</p>
        <hr style="margin: 2em 0 0 0; padding: 1em 0 0 0;"> <!-- TODO style inline-ed for now, should make a child -->
    </section>

   <section id="bigdata">
        <header style="margin-bottom: 3em">
            <h2>(TODO) Custom behaviour analysis</h2> <!--TODO section graphics-->
        </header>
        <p>Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.</p>
        <p>We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.</p>
        <p><b>Technologies:</b> Scala, Akka (Actors, Streams, Http), Cassandra, Spark, Ansible</p>
       <hr style="margin: 2em 0 0 0; padding: 1em 0 0 0;"> <!-- TODO style inline-ed for now, should make a child -->
    </section>

   <section id="football">
        <header style="margin-bottom: 3em">
            <h2>(TODO) Football manager</h2> <!--TODO section graphics-->
        </header>
        <p>Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.</p>
        <p>We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.</p>
        <p><b>Technologies:</b> Scala, Akka (Actors, Streams, Http), Cassandra, Spark, Ansible</p>
       <hr style="margin: 2em 0 0 0; padding: 1em 0 0 0;"> <!-- TODO style inline-ed for now, should make a child -->
    </section>

</div>