<!-- Sidebar -->
<div id="sidebar" class="2u">
    <section>
        <header>
            <h2>Portfolio</h2>
        </header>
        <div class="row">
            <section>
                <ul class="default" id="serviceReference">
                    <li><a href="#niezbednik">Niezbędnik inteligenta</a></li>
                    <li><a href="#bigdata">BigData custom behaviour analysis</a></li>
                    <li><a href="#football">Football team manager</a></li>
                </ul>
            </section>
        </div>
    </section>
</div>

