{% comment %}<!-- portfolio content - right hand side, div class important -->{% endcomment %}
<div id="content" class="8u skel-cell-important">
    <section id="niezbednik" class="portfolio">
        <div class="row">
            <div class="col-lg-12 col-md-12 total-height">
                <div class="col-lg-8 color-cut-normal"></div>
                <div class="col-lg-8 white-for-image-normal">
                    <p class="imageNiezbednik"></p>
                </div>
                <div class="col-lg-4 color-for-text-normal blueGrad">
                    <figure class="text-on-gradient-normal">Niezbednik Inteligenta</figure>
                </div>
            </div>
        </div>
        <p>Our customer is a education related enterprise that run prototypes for learning tools design and analysis.</p>
        <p>Niezbednik Inteligenta(Intellectual Essentials) allow the creation of custom learning keywords database for the students. A key feature is the total monitoring of user interaction with the application during the learning process.</p>
        <p><b>Technologies:</b> AngularJS, Scala, Scalatra, Hibernate, Docker, Postgresql.</p>
        <p><a href="https://niezbednik.eiipii.com/">Niezbednik Inteligenta</a></p>
        <hr class="portfolio">
    </section>
    <section id="bigdata" class="portfolio">
       <div class="row">
           <div class="col-lg-12 col-md-12 total-height">
               <div class="col-lg-4 color-for-text-mirror greenGrad">
                   <figure class="text-on-gradient-mirror">Bigdata customer behaviour analysis</figure>
               </div>
               <div class="col-lg-8 color-cut-mirror"></div>
               <div class="col-lg-8 white-for-image-mirror"><p class="imageBigdata"></p>
               </div>
           </div>
       </div>
        <p>Our customer is a advertising startup building new algorithms for matching person profiles with targeted advertising.</p>
        <p><b>Technologies:</b> Scala, Kafka, Cassandra, Spark, Event sourcing, Play2, Akka.</p>
       <hr class="portfolio">
    </section>
     <section id="football" class="portfolio">
       <div class="row">
           <div class="col-lg-12 col-md-12 total-height">
               <div class="col-lg-8 color-cut-normal"></div>
               <div class="col-lg-8 white-for-image-normal">
                   <p class="imageFootball"></p>
               </div>
               <div class="col-lg-4 color-for-text-normal redGrad">
                   <figure class="text-on-gradient-normal">Football team manager</figure>
               </div>
           </div>
       </div>
        <p>Our customer is a professional football training team.</p>
        <p>The goal is the integration of all training measurments and planning for optimalization of players training and performance.</p>
        <p><b>Technologies:</b> Scala, Play2, Android, Cassandra, Spark</p>
       <hr class="portfolio">
     </section>
</div>