<!-- portfolio content - right hand side, div class important -->
<div id="content" class="8u skel-cell-important">

    <!-- TODO below is work-in-progress graphical element based on bootstrap - still some problems with position (something is inherited badly) and height -->

    <section id="niezbednik" class="portfolio">

        <!-- Graphic Section Divider -->
        <!-- wrapping this in div class container results in bad left and right position - might want to find why, later -->
        <div class="row">
            <div class="col-lg-12 col-md-12 total-height">

                <!-- div for cut in blue background -->
                <div class="col-lg-8 blue-cut"></div>

                <!-- div white left - icon should be placed here -->
                <div class="col-lg-8 white-left">
                </div>
                <!-- div blue right, text should be placed here -->
                <div class="col-lg-4 blue-right">
                </div>
            </div>
        </div>

        <!-- Section Text -->
        <p>Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.</p>
        <p>We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.</p>
        <p><b>Technologies:</b> Scala, Akka (Actors, Streams, Http), Cassandra, Spark, Ansible</p>
        <hr style="margin: 2em 0 0 0; padding: 1em 0 0 0;"> <!-- TODO style inline-ed for now, should make a child -->
    </section>

   <section id="bigdata" class="portfolio">
       <!-- Graphic Section Divider -->
       <!-- wrapping this in div class container results in bad left and right position - might want to find why, later -->
       <div class="row">
           <div class="col-lg-12 col-md-12 total-height">

               <!-- div for cut in blue background -->
               <div class="col-lg-8 blue-cut"></div>

               <!-- div white left - icon should be placed here -->
               <div class="col-lg-8 white-left">
               </div>
               <!-- div blue right, text should be placed here -->
               <div class="col-lg-4 blue-right">
               </div>
           </div>
       </div>
        <!-- Section Text -->
        <p>Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.</p>
        <p>We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.</p>
        <p><b>Technologies:</b> Scala, Akka (Actors, Streams, Http), Cassandra, Spark, Ansible</p>
       <hr style="margin: 2em 0 0 0; padding: 1em 0 0 0;"> <!-- TODO style inline-ed for now, should make a child -->
    </section>

   <section id="football" class="portfolio">
       <!-- Graphic Section Divider -->
       <!-- wrapping this in div class container results in bad left and right position - might want to find why, later -->
       <div class="row">
           <div class="col-lg-12 col-md-12 total-height">

               <!-- div for cut in blue background -->
               <div class="col-lg-8 blue-cut"></div>

               <!-- div white left - icon should be placed here -->
               <div class="col-lg-8 white-left">
               </div>
               <!-- div blue right, text should be placed here -->
               <div class="col-lg-4 blue-right">
               </div>
           </div>
       </div>
        <!-- Section Text -->
        <p>Our customer builds systems used by energy providers to build long-term client relationships, increase efficiency in energy use and manage energy demand.</p>
        <p>We are helping to build a big data system, capable of processing huge amounts of data daily and later analysing them using both statistical and machine learning methods.</p>
        <p><b>Technologies:</b> Scala, Akka (Actors, Streams, Http), Cassandra, Spark, Ansible</p>
       <hr style="margin: 2em 0 0 0; padding: 1em 0 0 0;"> <!-- TODO style inline-ed for now, should make a child -->
    </section>

</div>