<!-- Sidebar -->
<div id="sidebar" class="2u">
    <section>
        <header>
            <h2>Services</h2>
        </header>
        <div class="row">
            <section>
                <ul class="default" id="serviceReference">
                    <li><a href="#natoeu">NATO/EU contracts</a></li>
                    <li><a href="#caas">CaaS</a></li>
                    <li><a href="#dev">Software development</a></li>
                    <li><a href="#training">Trainings</a></li>
                    <li><a href="#architecture">Architecture engineering</a></li>
                    <li><a href="#open">Open source</a></li>
                </ul>
            </section>
        </div>
    </section>
</div>

