
$color-main-blue: #0071BC;

$color-navbar: #1884c9;
$color-navbar-collapsed: #FFFFFF;

$color-home-bg: $color-main-blue;
$color-home2-bg: #f3f3f3;
$color-services-bg: #FFFFFF;
$color-team-bg: #f3f3f3;
$color-team-square: #e6e6e6;
$color-portfolio-bg: #ffffff; // TODO pattern
$color-contact-bg: #f3f3f3;

$color-stripe-bg: #f9f9f9;

$color-bright: #ffffff;
$color-bright-txt: #ffffff;
$color-bright-txt-detail: #78D1FF;

$color-shadow: #ebebeb;
$color-dark-txt: #666666;
$color-dark-txt-detail: #78D1FF;

$color-red: #f15a24;