

.navbar {
  background: $color-navbar;
  border: none;
  .navbar-nav > li > a {
    color: $color-bright-txt;
  }
  .normalLogo {
    display: none;
  }
  .darkLogo {
    display: block;
  }
}

.navbar-nav {
}

.navbar-brand {
  padding-top: 0; // to ensure that logo is centered vertically - not quite sure why it is not without this
}

.top-nav-collapse {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 20px 1px $color-shadow; // TODO on collapse, transmission between no shadow and shadow is ugly
  background: $color-navbar-collapsed;
  .navbar-nav > li > a {
    color: $color-main-blue;
  }
  .normalLogo {
    display: block;
  }
  .darkLogo {
    display: none;
  }
}


@media(min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
  }
}
