// TODO - mobile - uncollopsed has a ugly line above text (without border: none it's bigger, but border: none is not enuogh to make it dissapear - seems like two lines overlapped before)
// TODO - mobile - generally, the nav list which is shown after clicking the hamburger icon doesnt look nice

.navbar-default .navbar-collapse, .navbar-default .navbar-form {

  @media only screen and (max-width : 768px) {
    border: none;
    text-align: right;
  }
}

.navbar {
  background: $color-navbar;
  border: none;
  .navbar-nav > li > a {
    color: $color-bright-txt;
  }
  .normalLogo {
    display: none;
  }
  .darkLogo {
    display: block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 14px;
  }
  .navbar-nav > li {
    > a {
      color: $color-main-title;
    }
    > a:hover {
      color: #FFF;
    }
    > a:focus {
      color: #FFF;
    }
  }

  @media only screen and (max-width : 768px) {
    padding: 10px 0;
  }

  }

.navbar-default .navbar-nav > .active > a {
  background: none;
  &:hover, &:focus {
    background: none;
  }
}

.navbar-brand {
  padding-top: 0; // to ensure that logo is centered vertically - not quite sure why it is not without this
}

.top-nav-collapse {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 20px 1px $color-shadow;
  background: $color-navbar-collapsed;
  .navbar-nav > li {
    > a {
      color: $color-main-title;
    }
    > a:hover {
      color: $color-main-blue;
    }
    > a:focus {
      color: $color-main-blue;
    }
  }
  .normalLogo {
    display: block;
  }
  .darkLogo {
    display: none;
  }
}

@media(min-width: 767px) {
  .navbar {
    padding: 30px 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 10px 0;
  }
}
