---
---

@import "colors";
@import "layout";
@import "navbar";
@import "typed";
@import "headers";

.home-section, .introduction-section, .service-section, .team-section, .portfolio-section, .contact-section {
}

.service-section, .portfolio-section {
  //background: green;
}

.home-section, .team-section, .contact-section {
  //background: blue;
}

.home-section {
  background: $color-home-bg;
  text-align: left;
  //min-height: 70vh;

  .home-title {
    color: $color-bright-txt;
  }
  .home-icons {
    margin-top: 80px;
    > .invisible {
      opacity: 0;
    }
    h2 {
      color: $color-main-title;
      text-align: left;
    }
  }
  mark {
    color: $color-bright-txt-detail;
    background-color: transparent;
    padding: 0;
  }
}

.introduction-section {
  text-align: left;
  min-height: 30vh;
  padding-top: 20px;
}

.service-section {
  padding-top: 20px;
  text-align: left;
}

.team-section {
  background: $color-team-bg;
  text-align: left;
  padding-bottom: 4vh;
}

.portfolio-section {
  background: $bg-lines;
  text-align: left;
  padding-bottom: 4vh;
  p {
    color: $color-dark-txt;
  }
  li {
    font-size: 20px;
  }
}

.portfolio-tech-stack {
  padding-left: 0;
  list-style: none;
  font-weight: bold;
  color: $color-bright-txt-detail;
}

.contact-section {
  background: $color-contact-bg;
  text-align: left;
  h3 {
    color: $color-dark-txt;
  }
}

.section-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blue-section-title {
  margin-bottom: 40px;
  color: $color-bright-txt-detail;
  border-bottom: 10px solid $color-bright-txt-detail;
}

.service-text {
  color: $color-bright-txt-detail;
  padding-top: 52px;
}

.team {
  .team-text-div {
    margin: 0 10px 20px;

    .team-text-name {
      text-align: center;
      margin-bottom: 0;
      font-size: 120%;
    }

    .team-text-position {
      text-align: center;
      font-weight: bold;
      font-stretch: condensed;
      margin-bottom: 0;
      font-size: 120%;
    }
  }

  .team-photo {
    padding: 10%;
    max-height: 18vw; // TODO on desktop it ensures the img stay in proportions - WILL BRAKE THE MOBILE (since mobile is vertical) and not typical resolutions
  }
  .thumbnail {
    margin-bottom: 10px;
    border: none;
    border-radius: 0;
    // TODO - decision, currently as in project, commented rounded border with detail blue color
    /*   border: 1px solid $color-bright-txt-detail;
    border-radius: 4px;*/
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;

    background: $color-team-square;
    -webkit-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
  }
  .thumbnail:hover,
  .thumbnail:focus,
  .thumbnail.active {
    background-color: $color-bright-txt-detail;
  }

}

.no-top-margin {
  margin-top: 0;
}

.frameimage {
  border: 10px solid $color-team-square;
}

// CONTACT SECTION

.contact-text-paragraph {
  margin: 0;
}

.contact-text-paragraph > .dept-name {
  font-weight: bold;
  margin: 0;
}

.contact-text-paragraph > .address {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 25px;
}

.next-section-icon {
  text-align: center;
  .icon-col {
    padding-top: 17vmin;
    vertical-align: middle;

    a {
      font-size: 4vmax;
      color: $color-main-title;
      -webkit-transition: font-size .2s ease-in-out;
      -o-transition: font-size .2s ease-in-out;
      transition: font-size .2s ease-in-out;
      text-decoration: none;
    }

    a:hover {
      font-size: 5vmax;
    }
  }
}


@import "personas";
