---
---

@import "colors";
@import "layout";
@import "navbar";


.home-section , .introduction-section, .service-section , .team-section , .portfolio-section , .contact-section {
}
.service-section , .portfolio-section {
  background: green;
}
.home-section , .team-section , .contact-section {
  background: blue;
}

.home-section {
  background: $color-home-bg;
  text-align: left;
  .home-title {
    color: $color-bright-txt;
  }
  mark {
    color: $color-bright-txt-detail;
    background-color: transparent;
    padding: 0;
  }
}



.introduction-section {
  background: $color-home2-bg;
  text-align: left;
}

.service-section {
  background: repeating-linear-gradient(-45deg, $color-stripe-bg, $color-stripe-bg 2px, $color-services-bg 2px, $color-services-bg 40px);
  text-align: left;
}

.team-section {
  background: $color-team-bg;
  text-align: left;

}

.portfolio-section {
  background: repeating-linear-gradient(-45deg, $color-stripe-bg, $color-stripe-bg 2px, $color-services-bg 2px, $color-services-bg 40px);
  text-align: left;

}

.portfolio-tech-stack {
  padding-left: 0;
  list-style: none;
  font-weight: bold;
  color: $color-bright-txt-detail;
}

.contact-section {
  background: $color-contact-bg;
  text-align: left;

}

.section-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blue-section-title {
  margin-bottom: 40px;
  color: $color-bright-txt-detail;
  border-bottom: 10px solid $color-bright-txt-detail;
}

.blue-text {
  color: $color-bright-txt-detail;
}

.team-square {
  background: $color-team-square;
  margin: 0; // overwriting well bottom margin of 20px

}

.team-text-div {
  margin: 10px 10px 20px;
}

.team-text-name {
  text-align: center;
  margin-bottom: 0;
}

.team-text-position {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.team-photo {
  margin: 0;
}

.no-top-margin {
  margin-top: 0;
}

.contact-text-paragraph {
margin: 0;
}

.contact-text-paragraph > .dept-name {
  font-weight: bold;
  margin: 0;
}

.contact-text-paragraph > .address {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 25px;
}

.persona-title-part {
  background: $color-bright-txt-detail;
}

.persona-title-part > .photo {
  padding: 0;
}

.persona-title-part > .text {
  padding: 0;
  color: $color-bright-txt;
}


.bio {
  color: $color-bright-txt;
}