<div class="row">
    <div class="col-md-9">
        <div class="row persona-title-part equal box-background">
            <div class="col-md-3 photo box-background ">
                <img src="assets/images/team/gora_340x340.jpg" class="img-responsive">
            </div>
            <div class="col-md-6 text box-background">
                <h2 class="name">Michał Góra</h2>
                <h2 class="position">Software engineer</h2>
                <h3 class="quote"></h3>
            </div>
            <div class="col-md-3 box-background">
                <div class="row full-height">
                    <div class="col-md-4 full-height padding6px">
                        <div class="skill-bar skilled selected">
                            <h3>Skilled</h3>
                        </div>
                    </div>
                    <div class="col-md-4 full-height padding6px">
                        <div class="skill-bar specialist">
                            <h3>Specialist</h3>
                        </div>
                    </div>
                    <div class="col-md-4 full-height padding6px">
                        <div class="skill-bar expert">
                            <h3>Expert</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="bio">
            <h3 class="blue-text">Biography</h3>
            <h3>
                <small>Full-stack web developer who had a stint on project management
                    positions for companies like Coca-Cola, McDonald’s or Jack Daniels.
                    Fan of Play Framework, automated testing and learning by doing.
                    University of Warsaw graduate.
                </small>
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-12"><h3 class="blue-text">Technology</h3>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Frontend
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Play2</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                    <span class="sr-only">75% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>HTML/CSS</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>JavaScript</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                    <span class="sr-only">25% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Backend
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Scala</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Java</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                    <span class="sr-only">40% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Akka</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                    <span class="sr-only">25% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Sys&Dev Ops
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Docker</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Networking</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>CI/CD</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                    <span class="sr-only">40% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>GIT</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>QA
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>TDD</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                    <span class="sr-only">75% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Selenium</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>DDD</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Cucumber</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
                                    <span class="sr-only">55% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
    </div>
</div>