<div class="row">
    <div class="col-md-9">
        <div class="row persona-title-part equal box-background">
            <div class="col-md-3 col-xs-12 col-sm-12 photo box-background ">
                <img src="assets/images/team/900x900/OLGA_900.jpg" class="img-responsive"">
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 box-background">
                <h1 class="name">Olga Kurman</h1>
                <h2 class="position">Tester</h2>
                <h3 class="quote hidden-sm hidden-xs"></h3>
            </div>
            <div class="col-md-3 box-background hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-md-4 skillBarBox">
                        <div class="skill-bar skilled selected">
                            <p>Skilled</p>
                        </div>
                    </div>
                    <div class="col-md-4 skillBarBox">
                        <div class="skill-bar specialist">
                            <p>Specialist</p>
                        </div>
                    </div>
                    <div class="col-md-4 skillBarBox">
                        <div class="skill-bar expert">
                            <p>Expert</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="bio hidden">
            <h3 class="blue-text">Biography</h3>
            <h3>
                <small>TODO</small>
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-12"><h3 class="blue-text">Technology</h3>
        </div>

    </div>
    <div class="row">

        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>QA
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <p>Manual testing</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            <span class="sr-only">75% Complete</span>
                        </div>
                    </div>
                    <p>Automated testing</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="52"
                             aria-valuemin="0" aria-valuemax="100" style="width: 52%;">
                            <span class="sr-only">52% Complete</span>
                        </div>
                    </div>
                    <p>Usability Analysis</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="55"
                             aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
                            <span class="sr-only">55% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Dev Ops
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <p>Continuous testing</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="44"
                             aria-valuemin="0" aria-valuemax="100" style="width: 44%;">
                            <span class="sr-only">44% Complete</span>
                        </div>
                    </div>
                    <p>Test reporting</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="81"
                             aria-valuemin="0" aria-valuemax="100" style="width: 81%;">
                            <span class="sr-only">81% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
    </div>
</div>