<div class="row">
    <div class="col-md-9">
        <div class="row persona-title-part equal box-background">
            <div class="col-md-3 photo box-background ">
                <img src="assets/images/team/matamoros_600x600.jpg" class="img-responsive">
            </div>
            <div class="col-md-6 text box-background">
                <h2 class="name">Antonio Matamoros Ochman</h2>
                <h2 class="position">Software engineer</h2>
                <h3 class="quote"></h3>
            </div>
            <div class="col-md-3 box-background">
                <div class="row full-height">
                    <div class="col-md-4 full-height padding6px">
                        <div class="skill-bar skilled ">
                            <h3>Skilled</h3>
                        </div>
                    </div>
                    <div class="col-md-4 full-height padding6px">
                        <div class="skill-bar specialist selected">
                            <h3>Specialist</h3>
                        </div>
                    </div>
                    <div class="col-md-4 full-height padding6px">
                        <div class="skill-bar expert">
                            <h3>Expert</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="bio">
            <h3 class="blue-text">Biography</h3>
            <h3>
                <small>Maria is a ipsum dolor sit amet, consec-
                    tetuer adipiscing elit, sed diam nonummy
                    nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat. Ipsum dolor
                    sit amet, consectetuer adipiscing elit, sed
                    diam nonummy nibh.
                </small>
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-12"><h3 class="blue-text">Technology</h3>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Frontend
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Play2</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                    <span class="sr-only">75% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Spring MVC</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Angular</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>jQuery</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="65"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                                    <span class="sr-only">65% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Backend
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Scala</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Java</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Akka</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="65"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                                    <span class="sr-only">65% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Go</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                    <span class="sr-only">40% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Data
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>SQL</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Event sourcing</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Cassandra</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="66"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                    <span class="sr-only">66% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Hibernate</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="72"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 72%;">
                                    <span class="sr-only">72% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Dev & Sys Ops
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Docker</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="79"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 79%;">
                                    <span class="sr-only">79% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Kubernetes</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="76"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 76%;">
                                    <span class="sr-only">76% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Ansible</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
                                    <span class="sr-only">55% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>CI/CD</p>
                        </div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="77"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                                    <span class="sr-only">77% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
    </div>
</div>