<div class="row">
    <div class="col-md-9">
        <div class="row persona-title-part equal box-background">
            <div class="col-md-3 photo box-background ">
                <img src="assets/images/team/too_small_min_340/MARIA_200x200.jpg" class="img-responsive">
            </div>
            <div class="col-md-6 box-background">
                <h1 class="name">Maria Sanjuan-Janiec</h1>
                <h2 class="position">Graphic designer</h2>
                <h3 class="quote">„Follow your heart, but take your brain with you.”</h3>
            </div>
            <div class="col-md-3 box-background">
                <div class="row">
                    <div class="col-md-4 skillBarBox">
                        <div class="skill-bar skilled ">
                            <p>Skilled</p>
                        </div>
                    </div>
                    <div class="col-md-4 skillBarBox">
                        <div class="skill-bar specialist">
                            <p>Specialist</p>
                        </div>
                    </div>
                    <div class="col-md-4 skillBarBox">
                        <div class="skill-bar expert selected">
                            <p>Expert</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="bio">
            <h3 class="blue-text">Biography</h3>
            <h3>
                <small>Maria is a ipsum dolor sit amet, consec-
                    tetuer adipiscing elit, sed diam nonummy
                    nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat. Ipsum dolor
                    sit amet, consectetuer adipiscing elit, sed
                    diam nonummy nibh.
                </small>
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-12"><h3 class="blue-text">Technology</h3>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Frontend
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <p>Design</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="82"
                             aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                            <span class="sr-only">82% Complete</span>
                        </div>
                    </div>
                    <p>Usability</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="66"
                             aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                            <span class="sr-only">66% Complete</span>
                        </div>
                    </div>
                    <p>Prototyping</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="54"
                             aria-valuemin="0" aria-valuemax="100" style="width: 54%;">
                            <span class="sr-only">54% Complete</span>
                        </div>
                    </div>
                    <p>Wireframes</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="71"
                             aria-valuemin="0" aria-valuemax="100" style="width: 71%;">
                            <span class="sr-only">71% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Graphic
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <p>Adobe PS</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="83"
                             aria-valuemin="0" aria-valuemax="100" style="width: 83%;">
                            <span class="sr-only">83% Complete</span>
                        </div>
                    </div>
                    <p>Axure</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="62"
                             aria-valuemin="0" aria-valuemax="100" style="width: 62%;">
                            <span class="sr-only">62% Complete</span>
                        </div>
                    </div>
                    <p>Sketch</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="66"
                             aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                            <span class="sr-only">66% Complete</span>
                        </div>
                    </div>
                    <p>Adobe Illustrator</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="84"
                             aria-valuemin="0" aria-valuemax="100" style="width: 84%;">
                            <span class="sr-only">84% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>User Experience
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <p>Visual design</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="74"
                             aria-valuemin="0" aria-valuemax="100" style="width: 74%;">
                            <span class="sr-only">74% Complete</span>
                        </div>
                    </div>
                    <p>Web applications</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="74"
                             aria-valuemin="0" aria-valuemax="100" style="width: 74%;">
                            <span class="sr-only">74% Complete</span>
                        </div>
                    </div>
                    <p>Mobile applications</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="62"
                             aria-valuemin="0" aria-valuemax="100" style="width: 62%;">
                            <span class="sr-only">62% Complete</span>
                        </div>
                    </div>
                    <p>User metrics</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="77"
                             aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                            <span class="sr-only">77% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
    </div>
</div>