<div class="row">
    <div class="col-md-9">
        <div class="row persona-title-part equal box-background">
            <div class="col-md-3 photo box-background ">
                <img src=assets/images/team/pawelszklarz_900x900.jpg class="img-responsive">
            </div>
            <div class="col-md-6 text box-background">
                <h2 class="name">tomasz-balabaniak</h2>
                <h2 class="position">CFO</h2>
                <h3 class="quote"></h3>
            </div>
            <div class="col-md-3 box-background">
                <div class="row full-height">
                    <div class="col-md-4 full-height padding6px">
                        <div class="skill-bar skilled">
                            <h3>Skilled</h3>
                        </div>
                    </div>
                    <div class="col-md-4 full-height padding6px">
                        <div class="skill-bar specialist">
                            <h3>Specialist</h3>
                        </div>
                    </div>
                    <div class="col-md-4 full-height padding6px">
                        <div class="skill-bar expert selected">
                            <h3>Expert</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="bio">
            <h3 class="blue-text">Biography</h3>
            <h3>
                <small>Maria is a ipsum dolor sit amet, consec-
                    tetuer adipiscing elit, sed diam nonummy
                    nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat. Ipsum dolor
                    sit amet, consectetuer adipiscing elit, sed
                    diam nonummy nibh.
                </small>
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-12"><h3 class="blue-text">Technology</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Architecture
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <p>Software architecture</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="84"
                             aria-valuemin="0" aria-valuemax="100" style="width: 84%;">
                            <span class="sr-only">84% Complete</span>
                        </div>
                    </div>
                    <p>Enterprise architecture</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <p>DDD</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="78"
                             aria-valuemin="0" aria-valuemax="100" style="width: 78%;">
                            <span class="sr-only">78% Complete</span>
                        </div>
                    </div>
                    <p>TDD</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80"
                             aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            <span class="sr-only">80% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Backend
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <p>Scala</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="88"
                             aria-valuemin="0" aria-valuemax="100" style="width: 88%;">
                            <span class="sr-only">88% Complete</span>
                        </div>
                    </div>
                    <p>Java</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                            <span class="sr-only">85% Complete</span>
                        </div>
                    </div>
                    <p>Akka</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="79"
                             aria-valuemin="0" aria-valuemax="100" style="width: 79%;">
                            <span class="sr-only">79% Complete</span>
                        </div>
                    </div>
                    <p>C</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="73"
                             aria-valuemin="0" aria-valuemax="100" style="width: 73%;">
                            <span class="sr-only">73% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Frontend
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <p>Spring MVC</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="76"
                             aria-valuemin="0" aria-valuemax="100" style="width: 76%;">
                            <span class="sr-only">76% Complete</span>
                        </div>
                    </div>
                    <p>Play</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="78"
                             aria-valuemin="0" aria-valuemax="100" style="width: 78%;">
                            <span class="sr-only">78% Complete</span>
                        </div>
                    </div>
                    <p>jQuery</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="73"
                             aria-valuemin="0" aria-valuemax="100" style="width: 73%;">
                            <span class="sr-only">73% Complete</span>
                        </div>
                    </div>
                    <p>Angular</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="71"
                             aria-valuemin="0" aria-valuemax="100" style="width: 71%;">
                            <span class="sr-only">71% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
        <div class="col-md-3"> <!-- Technology skill component -->
            <div class="panel panel-default panel-skills">
                <div class="panel-heading">
                    <h4>Sys & Dev Ops
                        <mark>100 pt</mark>
                    </h4>
                </div>
                <div class="panel-body">
                    <p>Docker</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="86"
                             aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                            <span class="sr-only">86% Complete</span>
                        </div>
                    </div>
                    <p>Kubernetes</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="83"
                             aria-valuemin="0" aria-valuemax="100" style="width: 83%;">
                            <span class="sr-only">83% Complete</span>
                        </div>
                    </div>
                    <p>Networking</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="87"
                             aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
                            <span class="sr-only">87% Complete</span>
                        </div>
                    </div>
                    <p>CI / CD</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="73"
                             aria-valuemin="0" aria-valuemax="100" style="width: 73%;">
                            <span class="sr-only">73% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ENDS HERE Technology skill component -->
    </div>
</div>